body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align:center;  
}

a {
  color: #00B7FF;
}

.form-errors {
	color: red;
}

.smallp {
  color:#4682B4;
  font-size:35px;
  font-weight:normal;
  text-align:center;  
}

.largep {
  color:#4682B4;
  font-size:40px;
  font-weight:bold;
  text-align:center;
}

.box {
    background-color: #610B21;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}

footer {
  background-color: #4682B4;
  padding: 1em;
  border: 1px solid #ddd;
  margin: 2em 0;
  text-align: left;
  font-size:15px;
  font-weight:bold;
  color: white;
}

header {
  background-color: #4682B4;
  padding: 1em;
  border: 1px solid #ddd;
  margin: 2em 0;
  text-align: left;
  font-size:15px;
  font-weight:bold;
  color: white;
  
}

h1 {
  color: #FF8000;
  font-size:29px;
  font-weight:normal;
  text-align:left; 
}

form
{
  text-align:left;
}

.hyperlinks {
  color: white;
}

.right {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
}

.left {
  position: absolute;
  left: 0px;
  width: 300px;
  padding: 10px;
}